<!DOCTYPE html>
<html data-layout-decorate="~{fragments/layout}" lang="en" xmlns:th="http://wwww.thymeleaf.org">
<body>
<!-- .wrapper -->
<div data-layout-fragment="content">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h5 class="mb-0 text-gray-800">Inbond Stock</h5>
        <form class="row g-3">
            <div class="col-auto">
                <input type="date" class="form-control sm" placeholder="Password">
            </div>
            <div class="col-auto">
                <input type="date" class="form-control sm" placeholder="Password">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-sm">filter</button>
            </div>
        </form>
    </div>
    <hr>
    <div>
            <table class="display nowrap" id="inbond" width="100%">
                <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Arrival Date</th>
                    <th>Chassis No.</th>
                     <th>T1 No.</th>
                    <th>T1 Date</th>
                    <th>Importer</th>
                    <th>Make</th>
                    <th>Body Desc</th>
                    <th>Cc</th>
                    <th>BIF</th>
                    <th>..</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="vehicle,iterationStatus :${vehicles}">
                    <td th:text=${iterationStatus.count}></td>
                    <td th:text="${vehicle.arrDate}"></td>
                    <td th:text="${vehicle.chassisNo}"></td>
                    <td th:text="${vehicle.t1No}"></td>
                    <td th:text="${vehicle.t1Date}"></td>
                    <td th:text="${vehicle.importer}"></td>
                    <td th:text="${vehicle.make}"></td>
                    <td th:text="${vehicle.bodyDesc}"></td>
                    <td th:text="${vehicle.cc}"></td>
                    <td th:text="${vehicle.bif}"></td>
                    <td><a class="editBtn btn btn-sm btn-primary" th:href="@{'/inbond/' +${vehicle.id}}">Edit</a></td>
                </tr>
                </tbody>
            </table>
    </div>
    <hr>
</div>
<!-- /.page-inner -->
</body>
</html>